- content_for :title, "Edit list"

- content_for :sidebar do
  =  render :partial => 'manage'

= semantic_form_for @list, :url => list_path(@list.permalink) do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons do
    = form.commit_button "Save"
    
