- content_for :title, "New list"

- content_for :sidebar do
  =  render :partial => 'list'
  
= semantic_form_for @list, :url => lists_path do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons do
    = form.commit_button "Save"