- content_for :sidebar do
  - if @list.static? && current_user == @list.user
    .content
      .tabs.green
        %h1 Search & drag
      = text_field :vocabulary, :word, :size => 15
      = observe_field :vocabulary_word, :url => live_lists_path, :update => 'search_and_drag', :after => "$('search_and_drag').show()", :frequency => 0.5, :with => "'word=' + value + '&id=#{@list.id}'"
      #search_and_drag{ :style => 'display: none;' }
  =  render :partial => 'list'
  
- content_for :notice do
  %h1= @list.name
  %p= "This is #{@list.public?} list has been created by #{link_to(@list.user.name, user_path(@list.user.permalink))}."

- if @list.smart? && !@vocabularies.blank?
  = render :partial => 'sort_menu'

%p.spacing
  - if @list.verb?
    = render :partial => 'conjugation_menu'
  - else
    Know them by heart?
    = link_to('Take a test!', test_from_list_path(@list.permalink))
 
- if @list.static? && signed_in? && current_user == @list.user
  %ul#static_list.list= render :partial => 'admin_list'
    
- else
  %ul#regular_list.list= render :partial => 'regular_list'
  
- unless @vocabularies.blank?
  .content
    %h3 View in other formats
    %ul#links.inline
      = render :partial => 'links'