- content_for :custom_includes do
  %link{ :href => list_path(@list.permalink, :format => 'atom'), :rel => 'alternate', :type => 'application/atom+xml' }

- content_for :sidebar do
  - if @list.static? && current_user == @list.user
    .content
      .tabs.green
        %h1 Search & drag
      = text_field :vocabulary, :word, :size => 15
      #search_and_drag
  =  render :partial => 'list'
  
- content_for :notice do
  %h1= @list.name
  %p= "This is #{@list.public?} list has been created by #{link_to(@list.user.name, user_path(@list.user.permalink))}.".html_safe

- if @list.smart? && !@vocabularies.blank?
  %ul#order.inline
    = render :partial => 'sort_menu'

%ul.inline.spacing
  %li= link_to('Take a test', test_from_list_path(@list.permalink))
  - if @list.verb?
    %li
      View in
      = select 'your', 'lists', @list.language_from.conjugation_times.collect { |t| [t.name,t.id] }
    
- if @list.static? && user_signed_in? && current_user == @list.user
  %ul#static_list.list= render :partial => 'admin_list'
    
- else
  %ul#regular_list.list= render :partial => 'regular_list'
  
- unless @vocabularies.blank?
  .content
    %h3 View in other formats
    %ul#links.inline
      = render :partial => 'links'