- content_for :sidebar do
  - if @list.class.to_s == 'StaticList' && current_user == @list.user
    .content
      .tabs.green
        %h1 Search & drag
      = text_field :vocabulary, :word, :size => 15
      = observe_field :vocabulary_word, :url => live_lists_path, :update => 'search_and_drag', :frequency => 0.5, :with => "'word=' + value + '&id=#{@list.id}'"
      #search_and_drag
  - unless @vocabularies.blank?
    .content
      .tabs.green
        %h1 Other formats
      %ul
        %li= link_to('Print list', print_list_path(@list.permalink), :target => '_blank')
        %li= link_to('Export as JSON', list_path(@list.permalink, :format => :json))
        %li= link_to('Export as XML', list_path(@list.permalink, :format => :xml))
  =  render :partial => 'list'
  
      
- content_for :notice do
  %h1= @list.name
  %p= "This is #{@list.public?} list has been created by #{link_to(@list.user.name, user_path(@list.user.permalink))}."

%p.spacing
  Know them by heart? Take a test from 
  = link_to("#{@list.language_from.word} to #{@list.language_to.word}", list_scores_path(@list), :method => :post)
  or even better from
  = link_to("#{@list.language_to.word} to #{@list.language_from.word}!", list_scores_path(@list, :reverse => true), :method => :post)

- if @list.class.to_s == 'StaticList' && signed_in? && current_user == @list.user
  %ul#static_list.list
    = render :partial => 'admin_list', :object => @list
  
    - if @vocabularies.blank?
      %li#dropzone
        %ul.inline
          %li Drop vocabularies here to start a list
      = drop_receiving_element "dropzone", :accept => 'draggable', :hoverclass => 'over_receiving_element', :url => newitem_list_path(@list), :with => "'vocabulary_id=' + element.id.split('_')[1]"
  
- else
  - if @vocabularies.blank?
    %p Looks like you've set your list criteria in a way that it doesn't match any vocabularies.

  - else
    %ul.list
      = render :partial => 'regular_list', :object => @list