.content
  %h1 Please log in to continue.
  Forgot your password? Not to worry. Have a new one
  = link_to "emailed", new_password_path
  to you.
    
.content
  = semantic_form_for :session, :url => session_path do |form|
    = form.inputs do
      = form.input :email
      = form.input :password, :as => :password
    = form.buttons do
      = form.commit_button "Sign in"