<div class="content">
  <h1>Please log in to continue.</h1>
  <p>Forgot your password? Not to worry. Have a new one <%= link_to "emailed", forgot_password_users_path %> to you.</p>
</div>

<div class="content">
  <% form_tag session_path do -%>
    <div class="fields">
      <%= label_tag 'login' %>
      <%= text_field_tag 'login', @login %>
    </div>
    <div class="fields">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil %>
    </div>
    <div class="fields">
      <%= label_tag 'remember_me', 'Remember me' %>
      <%= check_box_tag 'remember_me', '1', @remember_me %>
    </div>
    <div class="fields">
      <%= submit_tag 'Log in' %>
    </div>
  <% end -%>
</div>