= devise_error_messages!
= form.inputs do
  = form.input :name, :label => "Name (nick, real, fake ... I don't care)"
  = form.input :email
  = form.input :password
  = form.input :password_confirmation, :label => "Confirm password"
  - unless @user.new_record?
    = form.input :current_password, :hint => "(we need your current password to confirm your changes)"