- content_for :title, "Edit profile"

- content_for :sidebar do
  .bg
    .bl
      .br
        .tl
          .tr Cancel my account
  Unhappy? Click
  = link_to "here", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
  to cancel your account

.content
  %p Use the form below to update your profile. Remember not to leave the password confirmation field blank.
  %p BTW: Your user icon is automatically loaded from Gravatar based on your email address. Be sure to <a href="http://gravatar.com">sign up</a> with them!
  - @user.password = @user.password_confirmation = nil

= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons do
    = form.commit_button "Save"
