- content_for :notice do
  %h1 Sign up
  %p
    Already have an account? Click here to
    = link_to "log in", "/login"

= semantic_form_for @user do |form|
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons do
    = form.commit_button "Sign up"