- form_remote_for form, :url => vocabulary_transformation_path(@vocabulary, form), :success => visual_effect(:highlight, "transformation_#{form.id}_details"), :update => "transformation_#{form.id}_details", :before => "$('_#{form.class.to_s.underscore}range').value = getUserSelection()", :html => { :class => "small" } do |f|
  =  hidden_field_tag "[#{form.class.to_s.underscore}]range"
  - if form.class == Move
    %h3 Insert before
    .fields.no-floater
      = f.text_field :insert_before, :size => 3
      Use 0 for front and -1 for back
  %h3 Options
  .fields
    = f.check_box :start_in_back
    Use relative positioning
  .fields
    = f.check_box :use_open_range
    Use open range
  .fields.no-floater
    = f.check_box :include_white_space
    Include white space
  = submit_tag("Save", :class => 'grey')
  = link_to_remote('Delete', { :url => vocabulary_transformation_path(@vocabulary, form), :confirm => 'Are you sure you want to remove this rule?', :method => :delete }, { :class => 'edit_link' })