%li{ :id => "#{comment.commentable_type.downcase}_comment_#{comment.id}" }
  .strong
    - if signed_in_as_admin?
      = link_to '(X)', comment_path(comment), :remote => true, :method => :delete, :confirm => 'Are you sure you want to delete this comment?', :class => 'delete', :style => 'display: none;'
    - if comment.user
      = link_to comment.user.name, comment.user.profile_url
    - else
      = link_to 'Guest', new_user_registration_path, { :title => 'Create an account' }
    says:
  = RedCloth.new(comment.text).to_html.html_safe
