- content_for :sidebar do
  = render(:partial => 'shared/manage')
  
- content_for :notice do
  %h1 New pronouns
  %p Add a new set of pronouns

.content
  = error_messages_for :person
  
  = form_for @person, :url => pronouns_path do |f|
  
    .fields
      = label_tag 'pronoun'
      %p Please select, which type of pronoun you want:
      = f.select(:pronoun, Person::SUPPORTED_PRONOUNS)
  
    .fields
      = label_tag 'Language'
      %p Please select the appropriate language:
      = select_with_defaults(:person, :language_id, Language.list.collect {|p| [ p.word, p.id ] }, {}, :from)
     
    .fields
      = label_tag 'Forms'
      %p Please enter your pronoun's forms:
      %table
        %tr
          %th 1st person singular
          %td= f.text_field :first_person_singular, :size => 15
          %th 1st person plural
          %td= f.text_field :first_person_plural, :size => 15
        %tr
          %th 2nd person singular
          %td= f.text_field :second_person_singular, :size => 15
          %th 2nd person plural
          %td= f.text_field :second_person_plural, :size => 15
        %tr
          %th 3rd person singular
          %td= f.text_field :third_person_singular, :size => 15
          %th 3rd person plural
          %td= f.text_field :third_person_plural, :size => 15
    
    .fields
      = f.submit 'Create'