- content_for :sidebar do
  = render :partial => 'shared/manage'

.content
  %h1= @person.pronoun
  A set of
  = @person.language.word
  pronouns

.content
  %table
    %tr
      %th 1st person singular
      %td= in_place_input @person, :first_person_singular
      %th 1st person plural
      %td= in_place_input @person, :first_person_plural
    %tr
      %th 2nd person singular
      %td= in_place_input @person, :second_person_singular
      %th 2nd person plural
      %td= in_place_input @person, :second_person_plural
    %tr
      %th 3rd person singular
      %td= in_place_input @person, :third_person_singular
      %th 3rd person plural
      %td= in_place_input @person, :third_person_plural