- content_for :title, "New tense"

- content_for :sidebar do
  = render :partial => 'shared/manage'

.content
  = error_messages_for :time
  - form_for @time, :url => tenses_path do |f|
    .content
      = label_tag 'Name'
      = f.text_field :name
    .content
      = label_tag 'Language'
      = select_with_defaults(:conjugation_time, :language_id, Language.list.collect {|p| [ p.word, p.id ] }, {}, :from)
    .content
      = submit_tag 'Save'
