- if @test.continue?
  %h1.spacing= "Question #{@test.current + 1} / #{@test.limit}"
  %h2= @test.current_question.word
  = form_for(@score, :url => score_path(@score, :test_object => @test.to_session_params, :type => 'ConjugationTest'), :html => { :method => :put }, :remote => true)  do
    %p
      %table
        %tr
          %th= @score.personal_pronouns[0]
          %td= text_field_tag 'answers[0]', '', :size => 15
          %th= @score.personal_pronouns[3]
          %td= text_field_tag 'answers[3]', '', :size => 15
        %tr
          %th= @score.personal_pronouns[1]
          %td= text_field_tag 'answers[1]', '', :size => 15
          %th= @score.personal_pronouns[4]
          %td= text_field_tag 'answers[4]', '', :size => 15
        %tr
          %th= @score.personal_pronouns[2]
          %td= text_field_tag 'answers[2]', '', :size => 15
          %th= @score.personal_pronouns[5]
          %td= text_field_tag 'answers[5]', '', :size => 15
    %p= submit_tag('Go')

- else
  %h1 Congratulations
  %p
    You have completed the
    = @test.tense.name
    conjugation test.
  %p Successfully? Check out your scores on the right and judge for yourself.