- form_remote_for @score, :url => scores_path(:type => 'VocabularyTest') do 

  .fields
    %h2 1. Languages
    Show me vocabularies in
    = select(:test, :from, @languages.collect {|p| [ p.word, p.id ] })
    and I'll translate them into and I'll translate them into
    = select(:test, :to, Language.list.collect {|p| [ p.word, p.id ] }, { :selected => Language.list[1].id })
    = observe_field(:test_from, :url => select_vocabularies_path, :update => "test_to", :with => "'language_id=' + value + '&selected=' + $A($('test_to').options).find(function(option) { return option.selected; } ).value")

  .fields
    %h2 2. Number of questions
    I'm up for
    = select(:test, :limit, LanguageTest::LIMITS)
    questions
   
  .fields
    %h2 3. Topic
    I'd only like to see on vocabularies tagged with:<br />
    %p= select(:test, :tags, @tags.collect {|t| [ t.name, t.id ] }, { }, { :multiple => true, :size => 5 })
    = observe_field(:test_from, :url => tags_for_language_scores_path, :update => "test_tags", :complete => visual_effect(:highlight, "test_tags"), :with => "language_id")
  
  .fields
    = submit_tag("Ready? Let's go!")
  