- semantic_remote_form_for @score, :url => scores_path(:type => 'VocabularyTest') do |form|
  = form.error_messages

  - form.inputs do
    %li#test_tense_input.string
      %label{ :for => "test_tense" } Pick a list
      = select(:test, :list_id, @lists.collect {|l| [ l.name, l.id ] })
      = observe_field(:test_list_id, :url => direction_for_list_scores_path, :update => "test_direction", :with => "list_id")
      %p.inline-hints Pick a list as the basis for your vocabulary test
    
    %li#test_limit_input.string
      %label{ :for => "test_limit" } Direction
      %ul#test_direction
        = render :partial => 'direction_for_list'
        
    %li#test_limit_input.string
      %label{ :for => "test_limit" } Number of Questions
      = select(:test, :limit, LanguageTest::LIMITS)
      %p.inline-hints You're up for how many questions?
      
  - form.buttons do
    = form.commit_button "Ready? Let's go!"

  