= semantic_remote_form_for @score, :url => scores_path(:type => 'VocabularyTest') do |form|
  = form.error_messages

  = form.inputs do
    %li#test_tense_input.string
      %label{ :for => "test_tense" } Languages
      %p.inline-hints
        Show me vocabularies in
        = select_with_defaults(:test, :from, @languages.collect {|p| [ p.word, p.id ] })
        and I'll translate them into and I'll translate them into
        = select_with_defaults(:test, :to, @languages.collect {|p| [ p.word, p.id ] }, { :selected => Language.list[1].id })
        %br
        = link_to '(set default)', defaults_user_path(current_user.permalink), :id => 'set_default' if signed_in?  
            
    %li#test_limit_input.string
      %label{ :for => "test_limit" } Number of Questions
      = select(:test, :limit, LanguageTest::LIMITS)
      %p.inline-hints You're up for how many questions?
    
    %li#test_tags_input.string
      %label{ :for => "test_tags" } Tags
      = select(:test, :tags, @tags.collect {|t| t.name }, { }, { :multiple => true, :size => 5 })
      %p.inline-hints
        I'd only like to see vocabularies that match
        = select :test, :all_or_any, [['all',true],['any',false]]
        of the above tags
    
  = form.buttons do
    = form.commit_button "Ready? Let's go!"