= semantic_remote_form_for @score, :url => scores_path(:type => 'ConjugationTest') do |form|
  = form.error_messages

  = form.inputs do
    %li#test_tense_input.string
      %label{ :for => "test_tense" } Tenses
      = select_tag('test[tense_id]', option_groups_from_collection_for_select(@languages, :conjugation_times, :word, :id, :name))
      %p.inline-hints Pick a tense for your conjugation test
    
    %li#test_limit_input.string
      %label{ :for => "test_limit" } Number of Questions
      = select(:test, :limit, LanguageTest::LIMITS)
      %p.inline-hints You're up for how many questions?
    
    %li#test_tags_input.string
      %label{ :for => "test_tags" } Tags
      = select(:test, :tags, @tags.collect {|t| t.name }, { }, { :multiple => true, :size => 5 })
      %p.inline-hints
        I'd only like to see vocabularies that match
        = select :test, :all_or_any, [['all',true],['any',false]]
        of the above tags
  
  = form.buttons do
    = form.commit_button "Ready? Let's go!"