- if @test.continue?
  %h1.spacing= "Question #{@test.current + 1} / #{@test.limit}"
  %h2
    = @test.current_question.word
  = form_for(@score, :url => score_path(@score, :test_object => @test.to_session_params, :type => 'VocabularyTest'), :html => { :method => :put }, :remote => true)  do
    %p
      = text_field_tag 'answer'
      = submit_tag 'Go'
      
- else
  %h1 Congratulations
  %p= "You have completed the #{@test.from.word} vocabulary test."
  %p Successfully? Check out your scores on the right and judge for yourself.