<% content_for :sidebar do %>
  <div class="content">
    <h1>You can do better?</h1>
    <p>Well, you can prove it right now.</p>
    <p><%= link_to 'Click here', '/' %> to get started and show 'em.</p>
  </div>
<% end %>

<div class="content" id="scores">
  <h1>Top Scores</h1>
  <ol>
    <% @scores.each do |score| %>
    <li>
      <% if score.user %>
        <%= link_to(gravatar_for(score.user), user_path(score.user)) %><b><%= score.user.login %></b>
      <% else %>
        <%= gravatar('unknown@gravatar.com') %><b>Guest</b>
      <% end %>
      <p>Got <em><%= score.ratio %>%</em> right on a <%= score.questions %> question <%= score.language_from.word %> to <%= score.language_to.word %> test</p>
    </li>
    <% end %>
  </ol>
</div>