- content_for :title, "Top scores"

- content_for :sidebar do
  .content
    .bg
      .bl
        .br
          .tl
            .tr Better than them?
    %p Well, you can prove it right now.
    %p <a href="/test">Click here</a> to get started and show 'em.

%ol#scores
  - @scores.each do |score|
    %li
      - if score.user
        %strong= link_to(score.user.name, user_path(score.user.permalink))
      - else
        %b Guest
      %p
        Got
        %em= number_to_percentage(score.ratio, :precision => 2)
        right on a
        = "#{score.questions} question #{score.language_from.word}"
        - if score.language_from != score.language_to
          to
          = score.language_to.word
        = score.test_type.underscore.humanize.downcase