- content_for :sidebar do
  #test_score.content= render(@score)

- content_for :notice do
  %h1 Test Center
  %p To take a vocabulary or conjugation test fill out the form below!

#test_tabs.tabs
  #tab_0_link.tab_link.active= link_to_remote("Translate (by tag)", :url => new_score_path(:menu => 0), :update => 'test_pane', :before => "deactivateTab(3)", :loaded => "activateTab(0,'')")
  #tab_1_link.tab_link= link_to_remote("Translate (by list)", :url => new_score_path(:menu => 1), :update => 'test_pane', :before => "deactivateTab(3)", :loaded => "activateTab(1,'')")
  #tab_2_link.tab_link= link_to_remote("Conjugate (BETA)", :url => new_score_path(:menu => 2), :update => 'test_pane', :before => "deactivateTab(3)", :loaded => "activateTab(2,'')")

#error_pane.tab_content_pane{:style => 'display:none'}

#test_pane.tab_content_pane
  = render(:partial => 'new_test_tab_0')