<% content_for :notice do %>
  <h1>Edit profile</h1>
<% end %>

<div class="content">
  <p>Use the form below to update your profile. Remember not to leave the password confirmation field blank.</p>
  <p>BTW: Your user icon is automatically loaded from Gravatar based on your email address. Be sure to <a href="http://gravatar.com">sign up</a> with them!</p>
  <% @user.password = @user.password_confirmation = nil %>
</div>

<div class="content"> 
  <%= error_messages_for :user %>
  <% form_for @user do |f| -%>
    <div class="fields">
      <%= label_tag 'login' %>
      <%= f.text_field :login %>
    </div>
    <div class="fields">
      <%= label_tag 'full name' %>
      <%= f.text_field :name %>
    </div>
    <div class="fields">
      <%= label_tag 'email' %>
      <%= f.text_field :email %>
    </div>
    <div class="fields">
      <%= label_tag 'password' %>
      <%= f.password_field :password %>
    </div>
    <div class="fields">
      <%= label_tag 'password_confirmation', 'Confirm Password' %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="fields">
      <%= submit_tag 'Update' %>
    </div>
  <% end -%>
</div>
