<% content_for :sidebar do %>
  <% if logged_in? && authorized? && @user != current_user %>
  <div class="content">
    <div class="tabs green"><h1>Admin stuff</div>
    <ul>
      <% unless @user.admin %><li><%= link_to('Make admin', admin_user_path(@user), :confirm => 'Are you sure? You can only reverse this by directly editing the database record.', :method => :put) %></li><% end %>
      <li>
        <%= link_to('Activate user', activate_path(@user.activation_code), :confirm => 'Are you sure you want to activate this user?', :method => :put) if @user.state == "pending" %>
        <%= link_to('Suspend user', suspend_user_path(@user), :confirm => "Are you sure you want to suspend this user?", :method => :put) if @user.state == "active" %>
        <%= link_to('Unsuspend user', unsuspend_user_path(@user), :confirm => 'Are you sure you want to allow this user back in?', :method => :put) if @user.state == "suspended" %>
      </li>
    </ul>
  </div>
  <% end %>
<% end %>

<% content_for :notice do %>
  <h1>User profile</h1>
<% end %>

<div class="content">
  <%= gravatar_for @user, { :class => 'gravatar_big', :size => '75' } %>
  <h1><%= @user.login %></h1>
  <p>
    <% if @user.admin %>Administrator and <% end %><%= @user.state.capitalize %> member since <%= @user.updated_at.to_s(:long) %>.
    <br /><br />
  </p>
</div>

<div class="content">
  <h2>Rankings</h2>
  <ul>
    <% unless @user.scores.blank? %><li><b>#<%= @user.score_rank %></b> on <b>best overall score</b> list with <b><%= number_to_percentage(@user.average_score, :precision => 2) %></b></li><% end %>
    <li><b>#<%= @user.contributor_rank %></b> on <b>most vocabularies contributed</b> list with <b><%= @user.vocabularies.count %></b> vocabularies</li>
  <ul>
</div>

<div class="content">
  <h2>Test stats</h2>
  <ul>
    <li>Took a <b>total</b> of <%= @user.number_of_tests %> <b>tests</b></li>
    <li>Got <b>100%</b> right on <%= @user.number_of_tests(1) %> <b>tests</b></li>
    <li>Got <b>75%</b> or more right on <%= @user.number_of_tests(0.75) %> <b>tests</b></li>
    <li>Got <b>50%</b> or more right on <%= @user.number_of_tests(0.5) %> <b>tests</b></li>
    <li>Got <b>25%</b> or more right on <%= @user.number_of_tests(0.25) %> <b>tests</b></li>
  <ul>
</div>