- content_for :custom_includes do
  = javascript_include_tag 'js-class.js', 'bluff-min.js', 'bluff-src.js', 'excanvas.js'
  
- content_for :notice do
  %h1 Personal trainer
  %p Welcome to your personal stat and training center!

- content_for :sidebar do
  .content
    .tabs.green
      %h1 By tag
    - tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
      = link_to tag.name, statistics_user_path(@user.permalink, :tag => tag.permalink), :remote => true, :class => "lengthy #{css_class}"
  .content
    .tabs.green
      %h1 By type
    %ul
      %li= link_to "Conjugation Tests", statistics_user_path(@user.permalink, :type => 'ConjugationTest'), :remote => true, :class => "lengthy"
      %li= link_to "Vocabulary Tests", statistics_user_path(@user.permalink, :type => 'VocabularyTest'), :remote => true, :class => "lengthy"

%h1
  Learning curve
  #loading= image_tag('ajax-loader.gif')
%p#description= render :partial => 'statistics_message', :locals => { :tag => '', :type => '' }

%canvas{:id => "scores_as_timeline", :width => "800", :height => "350"}

.content#graph_navigation
  = render :partial => 'statistics_navigation', :locals => { :tag => '', :type => '' }

= javascript_tag "getGraphData('#{current_user.permalink}')"