- if signed_in?

  - if signed_in_as_admin?
  
    .content
      .tabs.green
        %h1 Manage stuff
      %p Select an action:  
      %form
        = select 'redirect', 'to', admin_options(@vocabulary), :include_blank => true
        = observe_field(:redirect_to, :frequency => 0.5, :function => "redirectTo($A($('redirect_to').options).find(function(option) { return option.selected; } ).value, $A($('redirect_to').options).find(function(option) { return option.selected; } ).text)")

    .content
      .tabs.green
        %h1 List stuff
      %p
        = link_to('Pronouns', people_path)
        |
        = link_to('Tenses', conjugation_times_path)
        |
        = link_to('Vocabularies', vocabularies_path)
      
      
  - else
  
    .content
      .tabs.green
        %h1 Manage stuff
      %p Select an action:
      %form
        = select 'redirect', 'to', user_options(@vocabulary), :include_blank => true
        = observe_field(:redirect_to, :frequency => 0.5, :function => "redirectTo($A($('redirect_to').options).find(function(option) { return option.selected; } ).value, $A($('redirect_to').options).find(function(option) { return option.selected; } ).text)")
