- if user_signed_in?

  .content
    .bg
      .bl
        .br
          .tl
            .tr Manage stuff
    %ul#manage
      %li.menu
        = link_to_function "Add", "toggleMenu('add',#{detect_elements})"
        %ul#add.menuitems{:style => "display: none"}
          %li= link_to 'New vocabulary', new_vocabulary_path
          %li= link_to 'New list', new_list_path
          - if signed_in_as_admin?
            %li= link_to 'New conjugation pattern', new_pattern_path
            - if @vocabulary && !@vocabulary.new_record?
              %li= link_to 'New translation', edit_vocabulary_path(@vocabulary.permalink)
            %li= link_to 'New language', new_vocabulary_path(:type => 'Language')
            %li= link_to 'New tense', new_tense_path
            %li= link_to 'Import vocabularies', import_vocabularies_path
        
      %li.menu
        - if @vocabulary && !@vocabulary.new_record?
          = link_to_function "Copy", "toggleMenu('copy',#{detect_elements})"
          %ul#copy.menuitems{:style => "display: none"}
            %li= link_to 'Apply tags to translations', apply_tags_vocabulary_path(@vocabulary.permalink), :method => :post, :remote => true
            %li= link_to 'Apply type to translations', apply_type_vocabulary_path(@vocabulary.permalink), :method => :post, :remote => true
        - else
          %p Copy
        
      %li.menu
        - if @vocabulary && !@vocabulary.new_record? && signed_in_as_admin?
          = link_to_function "Delete", "toggleMenu('delete',#{detect_elements})"
          %ul#delete.menuitems{:style => "display: none"}
            %li= link_to 'Delete vocabulary', vocabulary_path(@vocabulary.permalink), :confirm => 'Are you sure you want to delete this vocabulary?', :method => :delete
        - else
          %p Delete
    %p
      = link_to('Tenses', tenses_path)
      |
      = link_to('Vocabularies', vocabularies_path)
