- content_for :title, "Wiki pages tagged with #{params[:id]}"

- content_for :sidebar do
  = render :partial => 'base_wiki_pages/tagcloud'

.content
  %h2 Search results

%ul#regular_list.list
  - if @pages.blank?
    %li= "Looks like now pages haven been tagged with #{params[:id]}. Sorry."

  - else
    - @pages.each do |page|
      %li
        %ul.inline
          %li= link_to(page.title, "/wiki/#{page.path}")
          %li= page.preview