- content_for :sidebar do
  = render :partial => 'shared/manage'

- content_for :notice do
  %h1= signed_in? ? in_place_editor_field(:pattern, :name) : @pattern.name
  %p A conjugation pattern

.content
  = link_to 'New rule', new_pattern_rule_path(@pattern)
  |
  = link_to 'Back to tense', conjugation_time_path(@pattern.conjugation_time.permalink)

.content
  %ul#rules.list
    - @pattern.rules.each do |rule|
      %li{ :id => "list_item_#{rule.id}", :class => 'item' }
        %ul.inline
          %li= link_to_remote 'X', { :url => pattern_rule_path(@pattern, rule), :method => :delete, :confirm => 'Are you sure you want to delete this comment?' }, { :class => 'delete' }
          %li= link_to rule.name, edit_pattern_rule_path(@pattern, rule)  
      
= sortable_element 'rules', :url => reorder_pattern_path(@pattern)

.content
  %p= !@pattern.verbs.blank? ? "Its currently used to conjugate the following verbs:" : "No verbs use this pattern." 
  %ul#assigned.inline
    %li{ :id => "assigned_none", :style => "display: #{@pattern.verbs.blank? ? 'inline' : 'none' };" } Drag verbs here
    - @pattern.verbs.each do |verb|
      = render verb
  = drop_receiving_element "assigned", :hoverclass => 'over', :url => add_verb_pattern_path(@pattern), :with => "'verb_id=' + element.id.split('_')[1]"

.content
  %p It may also apply to the following verbs:
  %ul#unassigned.inline
    - @pattern.auto_detect_verbs.each do |verb|
      = render :partial => 'verbs/draggable_verb', :object => verb
      