- content_for :sidebar do
  = render :partial => 'shared/manage'

.content
  %h1= signed_in_as_admin? ? in_place_editor_field(:conjugation, :name) : @conjugation.name
  A 
  = @conjugation.regular_or_irregular
  conjugation pattern for the
  = link_to(@conjugation.conjugation_time.language.word, vocabulary_path(@conjugation.conjugation_time.language.permalink))
  = "\"#{link_to(@conjugation.conjugation_time.name, @conjugation.conjugation_time)}\""

.content
  %table
    %tr
      %th 1st person singular
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :first_person_singular) : @conjugation.first_person_singular
      %th 1st person plural
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :first_person_plural) : @conjugation.first_person_plural
    %tr
      %th 2nd person singular
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :second_person_singular) : @conjugation.second_person_singular
      %th 2nd person plural
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :second_person_plural) : @conjugation.second_person_plural
    %tr
      %th 3rd person singular
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :third_person_singular) : @conjugation.third_person_singular
      %th 3rd person plural
      %td= signed_in_as_admin? ? in_place_editor_field(:conjugation, :third_person_plural) : @conjugation.third_person_plural
      
.content
  %p= !@conjugation.verbs.blank? ? "It applies to the following verbs:" : "No verbs use this pattern. You can change this by selecting this pattern as any verb's conjugation" 
  %ul.inline
    - @conjugation.verbs.each do |verb|
      %li= link_to(verb.name, vocabulary_path(verb.permalink))