- content_for :title, "New wiki page"

- content_for :custom_includes do
  = stylesheet_link_tag 'wiki', :media => 'all'
  
- content_for :sidebar do
  = render :partial => 'wiki_pages/manage'
  = render :partial => 'base_wiki_pages/tagcloud'

- if params[:preview]
  .wiki_content
    = wiki_content @page.content

= wiki_page_form do |f|
  = f.hidden_field :previous_version_number, :value => f.object.last_version_number
  = f.hidden_field :comment, :value => 'First Revision'
  %p
    Title:
    %br
    = f.text_field :title
  %p
    Path:
    %br
    = text_field_tag :path, params[:path]
  %p
    Refers to language
    %br
    = f.select :language_id, Language.list.collect {|p| [ p.word, p.id ] }, { :include_blank => true }
  %p
    Public:
    %br
    = f.check_box :public
  %p
    Content:
    %br
    = f.text_area :content
  
  %input{ :type => "submit",  :name => "save",  :value => "Save page", :class => "submit"}