- if @vocabulary.class == Verb && signed_in_as_admin?
  .content
    %p This page allows you to define conjugation patterns for verbs.
    %p Since with many verbs there's a lot more to a conjugation than just exchanging the verb's last syllables you can define a set of transformations to get from infinitive to conjugated verb.
  
  #transformations.content{ :style => @display_transformations }
    %h2 Transformation rules
    %ul#transformation-list
      - @transformations.each do |t|
        = render :partial => 'transformations/transformation', :object => t
      - form_remote_for @transformation, :url => vocabulary_transformations_path(@vocabulary) do
        = select_tag('type', options_for_select(Transformation.supported_types))
        = submit_tag("New", :class => 'grey')
      = sortable_element('transformation-list', :url => reorder_transformation_path(@vocabulary.id), :complete => visual_effect(:highlight,'transformation-list'), :handle => 'draggable')
  
  .content
    %h2 Manage Patterns
    %ul#conjugations
      = render :partial => 'conjugation_menu'