.content
  %p
    This is a
    = signed_in_as_admin? ? in_place_select_field(:vocabulary, :language_id, { :label => @vocabulary.language.word }, :collection => Language.list.collect {|p| [ p.word, p.id ] }) : @vocabulary.language.word
    = signed_in_as_admin? && @vocabulary.conjugations.blank? ? in_place_editor_field(:vocabulary, :class_type) : @vocabulary.class_type

.content
  = label_tag 'Comment'
  = signed_in_as_admin? ? in_place_editor_field(:vocabulary, :comment) : @vocabulary.comment

- if @vocabulary.class == Noun
  .content
    = label_tag 'Article'
    = signed_in_as_admin? ? in_place_editor_field(:vocabulary, :gender) : @vocabulary.gender