.content
  = @vocabulary.translations.empty? ? "No translations have been defined yet. If you're an admin you should change this." : "The following translations have already been added. As an admin you can add new and delete existing ones."

- unless @vocabulary.translations.empty? 
  .content
    %ul#translations
      - @vocabulary.translations.each do |translation|
        %li{:id => "translation_#{translation.id}"}
          = link_to(translation.word, vocabulary_path(translation.permalink))
          in
          = translation.language.word
          = link_to_remote('remove', { :url => vocabularies_unlink_path(@vocabulary, translation), :confirm => 'Are you sure you want to remove this translation?', :method => :delete }, { :class => 'edit_link' }) if logged_in? && authorized?