<% content_for :sidebar do %>
  <%= render :partial => 'vocabularies/manage' %>
<% end %>

<div class="content">
  <h1>New translation</h1>
  <p>Fill out the form below to submit a new translation for "<%= link_to(@translation.word, vocabulary_path(@translation)) %>".</p>
  
  <%= error_messages_for :vocabulary %>
  <% form_for :vocabulary, :url => vocabularies_path do |f| -%>
    <%= hidden_field :translation, :vocabulary2_id, :value => @translation.id %>
    
    <p><%= label_tag 'word' %>
    <%= f.text_field :word %></p>
    
    <% unless @translation.gender == "N/A" %>
    <p><%= label_tag 'article' %>
    <%= f.text_field :gender %></p>
    <% end %>

    <p><%= label_tag 'Language' %>
    <%= f.select :language_id, Vocabulary.languages.collect {|p| [ p.word, p.id ] } %></p>

    <p><%= submit_tag 'Save' %></p>
  <% end -%>
</div>