- content_for :custom_includes do
  = javascript_include_tag "/vocabularies.js?language=#{@translation.language.id}"
  
- content_for :sidebar do
  = render :partial => 'shared/manage'

- content_for :notice do
  %h1 New translation
  %p
    Fill out the form below to submit a new translation for
    = link_to(@translation.word, vocabulary_path(@translation.permalink))

.content
  = error_messages_for :vocabulary
  - form_for :vocabulary, :url => vocabularies_path do |f|
    = hidden_field :translation, :vocabulary2_id, :value => @translation.id
    .fields
      = label_tag 'word'
      = f.text_field :word, :size => 50
      #vocabulary_lookup_auto_complete.auto_complete
    - unless @translation.gender == "N/A"
      .fields
        = label_tag 'article'
        = f.text_field :gender
    .fields
      = label_tag 'Language'
      = f.select :language_id, languages_for_translation(@translation)
    .fields
      = label_tag 'Copy tags to translation?'
      = f.check_box :copy_tags
    .fields
      = submit_tag 'Save'