<% content_for :sidebar do %>
  <%= render :partial => 'shared/manage' %>
<% end %>

<div class="content">
  <h1>Import a text file</h1>
  <p>Currently Vocabulario is not very flexible in terms of the file format. Here's a quick example:</p>
  <ul>
    <li><b>Line 1:</b> Spanish;German 1;German 2;German 3</li>
    <li><b>Line 2:</b> a cada instante;Zu jedem Zeitpunkt;;</li>
    <li><b>Line 2:</b> apretar;abdr&uuml;cken;zusammendr&uuml;cken;dr&auml;ngen</li>
  </ul>
</div>
<div class="content">
  <% form_for :vocabulary, :url => import_vocabularies_path, :html => {:multipart => true} do |f| -%>
    <p><%= label_tag 'File' %>
    <%= f.file_field :file %></p>
    
    <p><%= label_tag 'Tag with' %>
    <%= f.select :tags, Tag.find(:all, :order => 'name'), { }, { :multiple => true, :size => 5 } %></p>

    <p><%= submit_tag 'Import' %></p>
  <% end -%>
</div>