- content_for :sidebar do
  = render :partial => 'shared/manage'

- content_for :notice do
  %h1 Import CSV data
  %p Just try it out and see what happens!
  
.content
  = form_for :vocabulary, :url => import_vocabularies_path, :remote => true do |f|
    %p
      #loading{:style => 'display: none;' }= image_tag('ajax-loader.gif')
      = label_tag 'Paste your data'
      #preview
      = f.text_area :csv, :cols => 100, :rows => 20
    
    %p
      = label_tag 'Tag with'
      = f.select :tags, Tag.find(:all, :order => 'name'), { }, { :multiple => true, :size => 5 }
    
    %p
      = f.text_field :new_tags
      %p.inline-hints You can also enter new tags

    %p= submit_tag 'Import'