- content_for :sidebar do
  = render :partial => 'shared/manage'

- content_for :notice do
  %h1 Import a text file
  %p Currently Vocabulario is not very flexible in terms of the file format.

.content
  %h3 Here's a quick example:
  %ul
    %li <strong>Line 1:</strong> Spanish;Type;German 1;German 2;German 3
    %li <strong>Line 2:</strong> a cada instante;Vocabulary;Zu jedem Zeitpunkt;;
    %li ...
    %li <strong>Line n:</strong> apretar;Verb;abdr&uuml;cken;zusammendr&uuml;cken;dr&auml;ngen
    
- if @exception
  .content.error
    %h3 Import failed, sorry. Please check the following: 
    %ul.small
      %li You're using an actual CSV file with the format shown above (; delimiters, column headings, etc.)
      %li Are you using only two languages?
      %li= "Correct type? Currently supported special types are #{Vocabulary::TYPES[0..Vocabulary::TYPES.size-2].join(', ')}. Use Vocabulary for everything else."
    %br
    %p.small Feel like you did everything right? Please <a href="http://github.com/paceline/vocabulario/issues">report</a> an issue.
  
.content
  - form_for :vocabulary, :url => import_vocabularies_path, :html => {:multipart => true} do |f|
    %p
      = label_tag 'File'
      = f.file_field :file
    
    %p
      = label_tag 'Tag with'
      = f.select :tags, Tag.find(:all, :order => 'name'), { }, { :multiple => true, :size => 5 }

    %p= submit_tag 'Import'