- content_for :sidebar do
  = render :partial => 'shared/manage'
  .content
    .tabs.green
      %h1 Export
    %ul
      %li= link_to('Vocabularies as JSON', vocabularies_path(:format => :json))
      %li= link_to('Vocabularies as XML', vocabularies_path(:format => :xml))

- content_for :notice do
  %h1 Explore
  %p
    There are currently
    = number_with_precision(Vocabulary.count, :precision => 0, :delimiter => ',')
    vocabularies in the database. Not too shabby...

.tabs
  #live_search_link{ :class => set_link_class('live_search') }= link_to_remote("Live search", :url => vocabularies_path(:menu => 'live_search'), :method => :get)
  #by_language_link{ :class => set_link_class('by_language') }= link_to_remote("By language", :url => vocabularies_path(:menu => 'by_language'), :method => :get)
  #by_tag_link{ :class => set_link_class('by_tag') }= link_to_remote("By tag", :url => vocabularies_path(:menu => 'by_tag'), :method => :get)
  #by_type_link{ :class => set_link_class('by_type') }= link_to_remote("By type", :url => vocabularies_path(:menu => 'by_type'), :method => :get)

#browser.content
  - if @current_action != 'index'
    = render :partial => "vocabularies/#{@current_action}"
  - else
    = render :partial => "vocabularies/live_search"

.content#vocabulary_results
  %ul.inline
    - @vocabularies.each do |vocabulary|
      %li= link_to(vocabulary.name, vocabulary_path(vocabulary.permalink))  
  <br />
  = will_paginate @vocabularies