- content_for :sidebar do
  = render :partial => 'shared/manage'
  .content
    .tabs.green
      %h1 Export
    %ul
      %li= link_to('Vocabularies as JSON', vocabularies_path(:format => :json))
      %li= link_to('Vocabularies as XML', vocabularies_path(:format => :xml))

- content_for :notice do
  %h1 Explore
  %p
    There are currently
    = number_with_precision(Vocabulary.count, :precision => 0, :delimiter => ',')
    vocabularies in the database. Not too shabby...

.tabs
  #tab_0_link.tab_link.active= link_to_remote("Live search", :url => vocabularies_path(:menu => 0), :update => 'tab_browser', :loading => "deactivateTab(4)", :loaded => "activateTab(0,'tab_browser')", :method => :get)
  #tab_1_link.tab_link= link_to_remote("By language", :url => vocabularies_path(:menu => 1), :update => 'tab_browser', :loading => "deactivateTab(4)", :loaded => "activateTab(1,'tab_browser')", :method => :get)
  #tab_2_link.tab_link= link_to_remote("By tag", :url => vocabularies_path(:menu => 2), :update => 'tab_browser', :loading => "deactivateTab(4)", :loaded => "activateTab(2,'tab_browser')", :method => :get)
  #tab_3_link.tab_link= link_to_remote("By type", :url => vocabularies_path(:menu => 3), :update => 'tab_browser', :loading => "deactivateTab(4)", :loaded => "activateTab(3,'tab_browser')", :method => :get)

#tab_browser.content
  = render :partial => "vocabularies/#{map_action(@current_action)}"

.content#vocabulary_results
  %ul.inline
    - @vocabularies.each do |vocabulary|
      %li= link_to(vocabulary.name, vocabulary_path(vocabulary.permalink))  
  <br />
  = will_paginate @vocabularies
  
= render :partial => 'shared/loading', :object => 'searching vocabularies'