<% content_for :sidebar do %>
  <%= render :partial => 'shared/manage' %>
  <div class="content">
    <h1>Language</h1>
    <p><%= vocabulary_links %></p>
  </div>
  <div class="content">
    <h1>Tag</h1>
    <%= render :partial => 'shared/tagcloud', :object => @tags %>
  </div>
<% end %>

<div class="content">
  <h1>Explore</h1>
  <p>There are currently <%= Vocabulary.count %> vocabularies in the database. Use the live search below or the tools on the right to explore them.</p>
</div>

<div class="content">
  <%= label_tag 'live search' %>
  <%= text_field :vocabulary, :word, :size => 30 %>
  <%= observe_field :vocabulary_word, :url => live_search_path, :update => 'vocabulary_results', :frequency => 0.5, :with => 'word' %>
</div>

<div class="content" id="vocabulary_results">
  <ul class="inline">
    <% @vocabularies.each do |vocabulary| %>
    <li><%= link_to(vocabulary.name, vocabulary_path(vocabulary.permalink)) %></li>
    <% end %>
  </ul>
  <br />
  <%= will_paginate @vocabularies %>
</div>
