- content_for :sidebar do
  = render :partial => 'shared/manage'
  = render :partial => 'shared/stat_widget'

.tabs
  #tab_0_link{ :class => ($ACTION == 'index' ? "first active" : "first") }= link_to "Live search", vocabularies_path(:menu => 0), :remote => true, :id => 'tab_0'
  #tab_1_link{ :class => ($ACTION == 'by_language' ? "tab_link active" : "tab_link") }= link_to "By language", vocabularies_path(:menu => 1), :remote => true, :id => 'tab_1'
  #tab_2_link{ :class => ($ACTION == 'by_tag' ? "tab_link active" : "tab_link") }= link_to "By tag", vocabularies_path(:menu => 2), :remote => true, :id => 'tab_2'
  #tab_3_link{ :class => ($ACTION == 'by_type' ? "tab_link active" : "tab_link") }= link_to "By type", vocabularies_path(:menu => 3), :remote => true, :id => 'tab_3'

#tab_browser= render :partial => "vocabularies/#{map_action($ACTION)}"

.content
  %ul#vocabulary_results.inline
    = render :partial => 'vocabularies/vocabularies', :object => @vocabularies, :locals => {:page => @page}
  #pagination= will_paginate @vocabularies
  
= render :partial => 'shared/loading', :object => 'searching vocabularies'