<% content_for :sidebar do %>
  <%= render :partial => 'shared/manage' %>
<% end %>

<% content_for :notice do %>
  <h1>New <% if params[:type] %>language<% else %>vocabulary<% end %></h1>
  <p>Fill out the form below to submit a new <% if params[:type] %>language<% else %>vocabulary<% end %>.</p>
<% end %>

<div class="content">
  <%= error_messages_for :vocabulary %>
  <% form_for :vocabulary, :url => vocabularies_path do |f| -%>
    <%= f.hidden_field :type, :value => params[:type] if params[:type] %>
    <div class="fields">
      <%= label_tag 'word' %>
      <%= f.text_field :word %>
    </div>
    <div class="fields">
      <%= label_tag 'article' %>
      <%= f.text_field :gender %>
    </div>
    <div class="fields">
      <%= label_tag 'comment' %>
      <%= f.text_area :comment, { :cols => 50, :rows => 5 } %>
    </div>
    <div class="fields">
      <%= label_tag 'Language' %>
      <%= f.select :language_id, Language.list.collect {|p| [ p.word, p.id ] } %>
    </div>
    <div class="fields">
      <%= label_tag 'Type' %>
      <%= f.select :type, Vocabulary::TYPES %>
    </div>
    <div class="fields">
      <%= submit_tag 'Save' %>
    </div>
  <% end -%>
</div>
