- content_for :sidebar do
  = render :partial => 'shared/manage'
  .content
    .tabs.green
      %h1 Export
    %ul
      %li= link_to('Vocabulary as JSON', vocabulary_path(:format => :json))
      %li= link_to('Vocabulary as XML', vocabulary_path(:format => :xml))
  
%h1= signed_in_as_admin? ? in_place_editor_field(:vocabulary, :word) : @vocabulary.word
= render :partial => 'shared/taglist', :object => @vocabulary

.tabs
  #overview_link.tab_link.active= link_to_remote("Overview", :url => vocabulary_path(@vocabulary.permalink, :menu => 'overview'), :method => :get)
  - if @vocabulary.class == Verb && signed_in_as_admin?
    #conjugations_link.tab_link= link_to_remote("Conjugations", :url => vocabulary_path(@vocabulary.permalink, :menu => 'conjugations'), :method => :get)
  - else
    #conjugations_link.tab_link{ :style => 'display: none;' }
  #translations_link.tab_link= link_to_remote("Translations", :url => vocabulary_path(@vocabulary.permalink, :menu => 'translations'), :method => :get)
  
#vocabulary_pane.tab_content_pane
  = render(:partial => 'vocabularies/overview')