= form.inputs do
  = form.input :name, :hint => "A name, something self-explanatory"
  = form.input :find, :hint => "Regular expression or string to look for in verb"
  #find_lookup_auto_complete.auto_complete
  = form.input :replace, :hint => "Regular expression or string to replace 'find' with"
  - unless $ACTION == 'new'
    = form.input :save_as_new, :as => :boolean