- content_for :title, "New application"
  
= semantic_form_for @client_application, :url => oauth_clients_path do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  = form.buttons do
    = form.commit_button "Register"