<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Vocabulario - A simple, nonsocial vocabulary testing app</title>
    <%= javascript_include_tag :defaults, 'ierange-m2.js' %>
    <% if @translation %><script src="/vocabularies.js?language=<%= @translation.language.id %>" type="text/javascript"></script><% end %>
    <%= stylesheet_link_tag "default" %>
  </head>
  <body <% if flash[:notice] %>onLoad="highlight()"<% end %>>
    <div class="container">
      <div id="header">
        <div class="navigation no-padding"><%= link_to "Wiki", '/wiki' %></div>
        <div class="navigation"><%= link_to "Users", users_path %></div>
        <div class="navigation"><%= link_to "Vocabularies", vocabularies_path %></div>
        <div class="navigation"><%= link_to "Scores", scores_path %></div>
        <div class="navigation"><%= link_to "Home", "/" %></div>
        <div class="navigation no-floater"><%= image_tag('logo.png') %></div>
      </div>
      <div id="notice" <% unless flash[:notice] || yield(:notice)  %>style="display: none;"<% end %>><%= flash[:notice] ? flash[:notice] : yield(:notice) %></div>
      <div id="sidebar">
        <div class="content" id="user_bar">
          <% if logged_in? %>
            <div class="tabs green"><h1>Hello, <%= current_user.login %></h1></div>
            <%= gravatar_for current_user %>
            <strong><%= current_user.login %></strong><br />
            (<%= link_to "profile", edit_user_path(current_user), { :title => "profile" } %>, <%= link_to "log out", logout_path, { :title => "log out" } %>)
          <% else %>
            <div class="tabs green"><h1>Hello, Guest</h1></div>
            <%= gravatar 'unknown@gravatar.com' %>
            <strong>Guest</strong><br />
            (<%= link_to "log in",  login_path,  { :title => "Log in" } %>, <%= link_to "sign up", signup_path, { :title => "Create an account" } %>)
          <% end %>
        </div>
        <%= yield :sidebar %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
      <div id="footer">
        Powered by <a href="http://github.com/paceline/vocabulario/tree/master">Vocabulario</a>, created by <a href="http://ulfmoehring.net">Ulf M&ouml;hring</a>
      </div>
    </div>
  </body>
</html>