!!!
%html
  %head
    %title VOCABULARIO - A simple, semi-social vocabulary trainer
    = ENV['RAILS_ENV'] == 'production' ? javascript_auto_include_tag(:defaults, 'tracker.js', :pattern => ':controller') : javascript_auto_include_tag(:defaults, :pattern => ':controller')
    = yield :custom_includes
    = stylesheet_link_tag "default"
    = csrf_meta_tag
  %body
    .container
      #header
        .navigation.no-padding= link_to "Wiki", '/wiki/home'
        .navigation= link_to "Community", community_path
        .navigation= link_to "Vocabularies", vocabularies_path
        .navigation= link_to "Test Center", test_path
        .navigation= link_to "Home", "/"
        .navigation.no-floater= link_to "VOCABULARIO - a simple vocablary trainer", "/"
      - unless !flash.empty? || !yield(:notice).blank?
        #notice{ :style => "display: none;" }
      - else
        #notice
          - unless flash.empty?
            = render :partial => 'layouts/flashes'
          - else
            .notice= yield(:notice)
      #sidebar
        #user_bar.content
          - if signed_in?
            .tabs.green
              %h1= "Hello, #{current_user.name}"
            = gravatar_for(current_user, { :size => '75' }).html_safe
            %ul
              %li= link_to('My stats', statistics_user_path(current_user.permalink), { :title => 'My test stats' })
              %li= link_to('Profile', edit_user_path(current_user.permalink), { :title => 'Profile' })
              %li= link_to('Log out', signout_path, { :title => 'Log out' })
          - else
            .tabs.green
              %h1 Hello, Guest
            = gravatar('unknown@gravatar.com', { :size => '75' }).html_safe
            %ul
              %li= link_to 'Log in',  sign_in_path,  { :title => 'Log in' }
              %li= link_to 'Sign up', sign_up_path, { :title => 'Create an account' }
        = yield :sidebar
      #main= yield
      #footer Powered by <a href="http://github.com/paceline/vocabulario">Vocabulario</a>, created by <a href="http://ulfmoehring.net">Ulf M&ouml;hring</a>