!!!
%html
  %head
    %title VOCABULARIO - A simple, non-social vocabulary trainer
    = javascript_include_tag :defaults
    = javascript_include_tag 'ierange-m2.js' if @current_controller == 'vocabularies' && @current_action == 'show'
    = javascript_include_tag "/vocabularies.js?language=#{@translation.language.id}" if @translation
    = javascript_include_tag 'js-class.js', 'bluff-min.js', 'bluff-src.js', 'excanvas.js' if @current_action == 'statistics'
    = stylesheet_link_tag "default"
  %body{ :onLoad => on_load }
    .container
      #header
        .navigation.no-padding= link_to "Wiki", '/wiki'
        .navigation= link_to "Community", community_path
        .navigation= link_to "Vocabularies", vocabularies_path
        .navigation= link_to "Scores", scores_path
        .navigation= link_to "Home", "/"
        .navigation.no-floater= link_to "VOCABULARIO - a simple vocablary trainer", "/"
      - unless !flash.empty? || yield(:notice)
        #notice{ :style => "display: none;" }
      - else
        #notice
          - unless flash.empty?
            = render :partial => 'layouts/flashes'
          - else
            .notice= yield(:notice)
      #sidebar
        #user_bar.content
          - if signed_in?
            .tabs.green
              %h1= "Hello, #{current_user.name}"
            = gravatar_for current_user, { :size => '75' }
            %ul
              %li= link_to('My stats', statistics_user_path(current_user.permalink), { :title => 'My test stats' })
              %li= link_to('Profile', edit_user_path(current_user), { :title => 'Profile' })
              %li= link_to('Log out', logout_path, { :title => 'Log out' })
          - else
            .tabs.green
              %h1 Hello, Guest
            = gravatar 'unknown@gravatar.com', { :size => '75' }
            %ul
              %li= link_to 'Log in',  login_path,  { :title => 'Log in' }
              %li= link_to 'Sign up', signup_path, { :title => 'Create an account' }
        #list_stuff= render :partial => 'lists/list' if @current_controller == 'scores' && @current_action == 'new' && signed_in?
        = yield :sidebar
      #main= yield
      #footer Powered by <a href="http://github.com/paceline/vocabulario/tree/master">Vocabulario</a>, created by <a href="http://ulfmoehring.net">Ulf M&ouml;hring</a>